@import "../../var.scss";

.third{
    height: 12rem;
    background-color: #85586f;
    color: #fff;
    display: flex;
    
    .sec1{
        margin-left: 4rem;
        margin-top: 1.6rem;

        h5{
            text-align: center;
            margin-top: -0.4rem;
        }
    }

    .sec2{
        margin-left: 25rem;
        margin-top: 2rem;
        font-family: $cardfont;
        :nth-child(2){
            margin-top: -0.4rem;
        }
        :nth-child(3){
            margin-top: -0.4rem;
        }
    }
}