.btnconnect {
    background: #000;
    color: white;
    padding: 0.5rem;
    font-family: 'Noto Sans';
    width: 6rem;
    // margin-top: 3rem;
    margin-left: 34rem;
    border-radius: 5px;
    font-size: 100%;
    border: none;
    width: 10rem;
}
